div.highlighter-rouge,
figure.highlight {
  border-radius: 10px;
  box-shadow: $md-codebox-shadow;
}

#site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-div-chan {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  margin: 0.5em;
}

.toggle-btn-chan {
  background-color: #252525;
  border: 0px solid #252525;
  border-radius: 10px;
  color: #ddd;
}
.toggle-btn-chan:hover {
  color: #f90;
}
.toggle-btn-chan p {
  transition: none;
  margin: 0;
}
.toggle-btn-chan.close p {
  opacity: 0;
}
.toggle-btn-chan:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #fbfcfc;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
  z-index: 0;
}

.toggle-btn-chan.close:before {
  opacity: 0.9;
}
.navicon2.hidden {
  opacity: 0;
}
.navicon2 {
  opacity: 1;
  position: absolute;
  display: block;
  background-color: #252525;
  border: 0px solid #252525;
  border-radius: 10px;
  color: #ddd;
}
.navicon2:hover {
  color: #f90;
}
.visible-links-chan {
  opacity: 1;
  position: absolute;
  top: 100%;
  right: 0px;
  width: 250px;
  padding: 5px;
  border: 1px solid #f2f3f3;
  border-radius: 4px;
  background: #fbfcfc;
  box-shadow: $toggle-box-shodow;
  z-index: 1;
}

.visible-links-chan.hidden {
  opacity: 0;
}

.visible-links-chan:before {
  content: "";
  position: absolute;
  top: -11px;
  right: 10px;
  width: 0;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: #f2f3f3 transparent;
  display: block;
  z-index: 0;
}
.visible-links-chan:after {
  content: "";
  position: absolute;
  top: -10px;
  right: 10px;
  width: 0;
  border-style: solid;
  border-width: 0 10px 20px;
  border-color: #fbfcfc transparent;
  display: block;
  z-index: 1;
}

.masthead__inner-wrap{
  position: relative;
  padding: 0 0.4em;
  
}

@media screen and (min-width: 106em){
  .masthead__inner-wrap {
      font-size: 20px;
  }
}


.masthead__menu .visible-links-chan {
  padding: 5px;
  margin-top: 10px;
}

.masthead__menu-item-chan {
  list-style-type: none;
  white-space: nowrap;
  display: block;
  border-bottom: 1px solid #f2f3f3;
}

.masthead__menu-item-chan:last-child {
  border-bottom: none;
}

.masthead__menu-item-chan a {
  margin: 0;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
}

.btn--inverse {
  display: none;
}

.verychild {
  color: #252525;

  transition: all 0s ease-in-out;
  font-size: 0.8em;
  font-weight: lighter;
}

.nav__sub-title_home {
  display: block;
  margin: 0.5rem 0;
  padding: 0.25rem 0;
  font-family: $sans-serif-narrow;
  font-size: $type-size-4;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid $border-color;
  text-shadow: 1px 1px 1px rgba(#000, 0.1);
}

.child {
  border-bottom: 1px solid #f2f3f3;
  padding-bottom: 10px;
  font-weight: 500;
}

.nav__listhome.home a {
  transition: all 0s ease-in-out;
}
.nav__listhome.home a span {
  transition: all 0s ease-in-out;
}

.nav__listhome {
  margin-bottom: 1.5em;

  input[type="checkbox"],
  label {
    display: none;
  }

  @include breakpoint(max-width $large - 1px) {
    label {
      position: relative;
      display: inline-block;
      padding: 0.5em 2.5em 0.5em 1em;
      color: $gray;
      font-size: $type-size-6;
      font-weight: bold;
      border: 1px solid $light-gray;
      border-radius: $border-radius;
      z-index: 20;
      -webkit-transition: 0.2s ease-out;
      transition: 0.2s ease-out;
      cursor: pointer;

      &:before,
      &:after {
        content: "";
        position: absolute;
        right: 1em;
        top: 1.25em;
        width: 0.75em;
        height: 0.125em;
        line-height: 1;
        background-color: $gray;
        -webkit-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
      }

      &:after {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
      }

      &:hover {
        color: #fff;
        border-color: $gray;
        background-color: mix(white, #000, 20%);

        &:before,
        &:after {
          background-color: #fff;
        }
      }
    }

    /* selected*/
    input:checked + label {
      color: white;
      background-color: mix(white, #000, 20%);

      &:before,
      &:after {
        background-color: #fff;
      }
    }

    /* on hover show expand*/
    label:hover:after {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    input:checked + label:hover:after {
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0);
    }

    ul {
      margin-bottom: 1em;
    }

    a {
      display: block;
      padding: 0.25em 0;

      @include breakpoint($large) {
        padding-top: 0.125em;
        padding-bottom: 0.125em;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.nav__listhome .nav__items {
  margin: 0;
  font-size: 1.25rem;

  a {
    color: inherit;
  }
  a:hover {
    color: #f90;
  }
  .active {
    margin-left: -0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-weight: bold;
  }
}
.page__content li.child {
  font-size: $type-size-7;
  font-weight: lighter;
}

.page__content .nav__sub-title_home {
  font-size: $type-size-5;
}

.nav__listhome {
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 15px 30px;
}

.nav__listhome li{
  font-size: 1em;
}

#page-title {
  padding-bottom: 10px;
  margin: 20px 0;
  border-bottom: 1px solid $border-color;
}

.archive .verychild{
  line-height: 1.8;
}

.page__content h2 {
  border-bottom: 0px solid #f2f3f3;
  margin-bottom: 0.75rem;
  margin-top: 2.2rem;
}

.page__content h1 {
  margin-top: 3rem;
  margin-bottom: 0.75rem;
  border-bottom: 0px solid #f2f3f3;
}

p>code, a>code, li>code, figcaption>code, td>code, em>code {
  background: #2b2b2b;
  color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  border-radius: 4px;
  font-size: 0.75em;
  padding: 0.4em;
  
}

em>code:before, em>code:after{
  letter-spacing: -0.2em;
  content: "\00a0";
}

.language-sh:before {
  display: table;
  padding: 8px;
  width: 100%;
  padding: 5px 0;
  font: 400 16px/24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #444;
  text-shadow: 0px 1px 0px rgba(#fff, 0.5);
  background-color: #f7f7f7;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjclIiBzdG9wLWNvbG9yPSIjY2ZjZmNmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FhYWFhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), color-stop(7%, #cfcfcf), to(#aaa));
  background-image: -webkit-linear-gradient(top, #f7f7f7 0%, #cfcfcf 7%, #aaa 100%);
  background-image: -moz-linear-gradient(top, #f7f7f7 0%, #cfcfcf 7%, #aaa 100%);
  background-image: -o-linear-gradient(top, #f7f7f7 0%, #cfcfcf 7%, #aaa 100%);
  background-image: linear-gradient(top, #f7f7f7 0%, #cfcfcf 7%, #aaa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#aaaaaa',GradientType=0 );
  border-bottom: 1px solid #111;
  text-align: center;
  content: "terminal";
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: $md-codebox-shadow;
  -moz-box-shadow: $md-codebox-shadow;
  box-shadow: $md-codebox-shadow;
  transform: translateY(-10px);
}
/*
pre.highlight{
  box-shadow: $md-codebox-shadow;
}
*/
.language-sh .highlight{
  box-shadow: none;
  
}
.language-sh pre.highlight{
  
  transform: translateY(-10px);
  padding: 0px;
}


img.margin-right{
  margin-right: 4px;
}

@media screen and (max-width:768px){

	img.margin-right{
    margin-right: 1px;
  }

}

hr{
  border-top: 1px solid #6f777d;
}

.list_tag {
  border: 5px solid darkgrey;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  h2{
    margin: 0px;
    margin-bottom: 20px;
  }
}

.arrow-up {
  border: 1px solid #252525;
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 50px;
  height: 50px;
  font-size: 25px;
  background: #485563; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #29323c,
    #485563
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #29323c,
    #485563
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: whitesmoke;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
  
  @include breakpoint($large) {
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 35px;
  }
  @include breakpoint($x-large) {
    bottom: 32x;
    right: 32px;
    width: 70px;
    height: 70px;
    font-size: 50px;
  }
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}


body{
  line-height: 1.7;
  letter-spacing: -0.004em;
}

p img{
  margin: 1.5rem auto;
}

.page__content .toc__menu li{
  font-size: 0.8rem;
}


.checked-box .nav__list .nav__items{
  
  
  
}

.sidebar.checked-box{

  display: none;
  
  @include breakpoint($medium) {
    display: block;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    width: calc(300px);
    border: 5px solid #000000;
    border-radius: 0px 20px 20px 0px;
    border-left: 0px;
    margin-top:40px;
    color: #fff;
    z-index: 1;
    border-color: #000000;
    background-color: #000000;
    position:fixed;
    max-height: calc(100vh - #{$nav-height} - 25em);
  }
  @include breakpoint($large) {
    display: block;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(200px);
    border: 5px solid #000000;
    border-radius: 0px 20px 20px 0px;
    border-left: 0px;
    margin-top:40px;
    color: #fff;
    z-index: 1;
    border-color: #000000;
    background-color: #000000;
    position:fixed;
    max-height: calc(100vh - #{$nav-height} - 2em);
  }
  
}

.sidebar.checked-box ul{
  margin-bottom: 0px;
}

.page__content .archive__item-excerpt{
  font-size: $type-size-6;
}

@media screen and (min-width: 106em){
  
  .masthead__menu-item-chan a {
    font-size: 0.825em;
  }

  .nav__list label{
    font-size: 0.85em;
  }
}

.post__item{
  font-size: 0.75em;
  font-weight: 100;
}

.nav__list label{
  padding-bottom: 30px;
  padding-top: 30px;
  border: 0px solid;  
  font-size: 1em;
  font-weight: 900;
  color: #fff;
  border-color: #7a8288;
  background-color: #000000;
  position: relative;
}

.nav__list input:checked+label{
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  font-size: .675em;
  font-weight: 900;
  position: absolute;
  border-radius: 0px 0px 0px 5px;
  top:0px;
  right:0px;
}

.nav__list input+label:not(:checked):before, .nav__list input+label:not(:checked):after{
  display: none;
  
}

.nav__list input:checked+label:before, .nav__list input:checked+label:after{
  display: none;
}

.checked-box .verychild{
  color: #ffffff;
}

summary{
  cursor: pointer;
}

details[open] summary {
  background: #444;
  border-radius: 5px 5px 0px 0px;
}
details[open] ul {
  background: #555;
  border-radius: 0px 0px 5px 5px;
}

nav a{
  transition: all 0.1s ease-in-out;
}

summary:hover{
  color: #f90;
} 

.page__footer footer{
  margin-top: 0em;
  padding-bottom: 0em;
}

.language-sh:before{

  margin-top: 30px;
}


/*
Center Image
========================================================================== */
figcaption{
  text-align: center;
  margin: auto;
}
figure > img{
  margin-bottom: 0px;
}
figure{
  margin: 0em 0 0em 0;
}

/*
Abbr
========================================================================== */

// just show the text
/*
abbr[id]:hover::after, dfn[title]:hover::after {
  content: ' (' attr(id) ') ';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 500px;
}
*/


abbr{
  position: relative;
}

.abbr_contents.hidden{
  opacity: 0;
  display: block;
}

abbr .abbr_contents{
  opacity: 0.8;
  position: absolute;
  left: -10px;
  top: 30px;
  background-color: #000;
  color: white;
  border-radius: 10px 10px 10px 10px;
  margin:0px;
  z-index: 1;
  padding: 8px;
  transition: all 0.2s ease-in-out;
  font-size: 0.75em;
}

abbr:before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0px;
  width: 0;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: #000000 transparent;
  display: block;
  z-index: 1;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}

abbr.hidden_before:before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0px;
  width: 0;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: #000000 transparent;
  display: block;
  z-index: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

/*
abbr:after {
  content: "";
  position: absolute;
  top: 20px;
  left: 0px;
  width: 0;
  border-style: solid;
  border-width: 0 10px 20px;
  border-color: #000000 transparent;
  display: block;
  z-index: 1;
}
*/


/*
Notice
========================================================================== */


.page__content p.notice, p.notice--primary, p.notice--warning, p.notice--success, p.notice--danger, p.notice--info{
  border-radius: 0px 10px 10px 0px;
  color: white;
  font-size: 1em !important;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-rendering: optimizeLegibility;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  margin-left: -50px;
  padding: 20px 20px 24px;
  padding-left: 50px;
  code{
    background-color: rgba(0,0,0,0.2);
  }
  abbr[title]{
    border-bottom: 1px dotted #ddd;
  }
  &:before{
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    border-color: transparent #000 #000 transparent;
    border-style: solid;
    border-width: 5px;
    width: 0;
    height: 0;
  }

  &:after{
    position: absolute;
    top: 14px;
    left: 14px;
    font-size: 28px;
    font-weight: 700;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  }


  @include breakpoint($x-large) {
    margin: 30px 0 30px -73px;
  }
  
  
  @include breakpoint($xxx-large) {
    margin: 30px 0 30px -123px;
  }
}

.notice{
  background-image: linear-gradient(to bottom, rgba(205,146,57,1) 0%,rgba(162,117,40,1) 100%);
  
  &:after{
    content: '\2B50';
    color: #fc0;
  }
}

.notice--primary{
  background-image: linear-gradient(to bottom, #283c28 0%,#152c28 100%);
  &:after{
    content: '\1F3AF';
    color: #2b2a12;
    font-size: 32px !important;

  }
}

.notice--warning{
  background-color: #9e2812;
  background-image: linear-gradient(to bottom, #9e2812 0%, #6f0d0d 100%);
  &:after{
    content: '\203C';
    color: #fc0;
  }
  
}

.notice--success{
  background-color: #7e6d42;
  background-image: linear-gradient(to bottom, #7e6d42 0%, #5c4e35 100%);
  
  &:after{
    content: '\2714';
    color: rgb(253, 42, 0);
  }
  
}

.notice--danger{
  
  
  &:after{
    content: '\2605';
    color: #fc0;
  }
}

.notice--info{
  background-color: #0389aa;
  background-image: linear-gradient(to bottom, #0389aa 0%, #00617f 100%);
  
  &:after{
    content: '\2139';
    color: #fc0;
    font-size: 32px !important;
  }
}


/*
Page Control
========================================================================== */


.page{
  position: relative;
  float: right !important;
  left: -50%;
}


.page > *{
  left: 50%;
  position: relative;
}

@media screen and (max-width: $medium){
  #main{
    margin: 0;
  }

  .page > *{
    left: 0;
    position: relative;
  }

  .page{
    position: relative;
    float: none !important;
    left: 0;
  }
}

@media screen and (max-width: $large){
  #main{
    border-radius: 20px;
    background-color: transparent;
  }
}


.toc a{
  font-size: 0.5rem;
}
.nav__list .nav__items {
  font-size: 1.125rem;
}

.archive{
  position: relative;
  float: right;
  left: -50%;
  > *{
    position: relative;
    left: 50%;
  }
}

.page__related{
  border-top: 0px solid #4e4e4e;
  position: relative;
  float: right !important;
  left: -50%;
  > *{
    position: relative;
    left: 50%;
  }
}

//
// Grid Item 숫자를 4에서 3으로 조정
//
// collection layout등에서 사용하는 entries_layout: grid인 경우
// 표시되는 grid item의 개수가 4개로 설정되어 있는데 너무 작게 표시되는 것 같아
// 이를 3개로 표시되도록 수정하였습니다.
//
// 원본위치: [remote-theme]/_sass/minimal-mistakes/_archive.scss
//
.grid__item {
  margin-bottom: 2em;

  @include breakpoint($small) {
    float: left;
    width: span(5 of 10);

    &:nth-child(2n + 1) {
      clear: both;
      margin-left: 0;
    }

    &:nth-child(2n + 2) {
      clear: none;
      margin-left: gutter(of 10);
    }
  }

  @include breakpoint($medium) {
    margin-left: 0; /* override margin*/
    margin-right: 0; /* override margin*/
    width: span(4 of 12);

    &:nth-child(2n + 1) {
      clear: none;
    }

    &:nth-child(3n + 1) {
      clear: both;
      margin-left: 0;
    }

    &:nth-child(3n + 2) {
      clear: none;
      margin-left: gutter(1 of 12);
    }

    &:nth-child(3n + 3) {
      clear: none;
      margin-left: gutter(1 of 12);
    }

  }

  //
  // page hero에서 호출하는 page meta 출력시 사용되는 글꼴의 크기를 키웠습니다.
  // 제가 추가로 작성한 _include/excerpt_hero.html 에서 표시되는 readtime등의 
  // meta 데이터 출력시 사용되는 값입니다.
  //
  // 이 값은 .grid__item 내에서 사용되는 값입니다.
  // 범용으로 선언 된 .page__meta와 별개 입니다.
  //
  // 원본위치: [remote-theme]/_sass/minimal-mistakes/_archive.scss
  //

  .page__meta {
    margin: 0 0 4px;
    font-size: 1em;         // default 0.6em
  }

  .page__meta-sep {
    display: block;

    &::before {
      display: none;
    }
  }

  .archive__item-title {
    margin-top: 0.5em;
    font-size: $type-size-5;
  }

  .archive__item-excerpt {
    display: none;

    @include breakpoint($medium) {
      display: block;
      font-size: $type-size-5;
    }
  }

  .archive__item-teaser {
    @include breakpoint($small) {
      max-height: 200px;
    }

    @include breakpoint($medium) {
      max-height: 200px;
    }
  }
}



//
// archive list page meta 글자 크기 조정
//
// 원본위치: [remote-theme]/_sass/minimal-mistakes/_archvie.scss
//

/*
   List view
   ========================================================================== */
  
.list__item {
  .page__meta {
    margin: 0 0 4px;
    font-size: 0.8em;         // default 0.6em
  }
}

.archive__item-excerpt {
  margin-top: 0;
  font-size: $type-size-5;

  & + p {
    text-indent: 0;
  }

  a {
    position: relative;
  }
}

//
// categories, tags, years 에서 사용하는 taxonomy index 글자 크기 조정
//
// 원본위치: [remote-theme]/_sass/minimal-mistakes/_page.scss
//
.taxonomy__index {
  display: grid;
  grid-column-gap: 2em;
  grid-template-columns: repeat(2, 1fr);
  margin: 1.414em 0;
  padding: 0;
  font-size: 1em;                         // default 0.75em
  list-style: none;

  @include breakpoint($large) {
    grid-template-columns: repeat(3, 1fr);
  }

  a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.25em 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid $border-color;
  }
}

//
// page meta 글자 크기 조정
//
// 원본위치: [remote-theme]/_sass/minimal-mistakes/_page.scss
//
.page__meta {
  margin-top: 2em;
  color: $muted-text-color;
  font-family: $sans-serif;
  font-size: $type-size-5;        // default $type-size-6

  p {
    margin: 0;
  }

  a {
    color: inherit;
  }
}

//
// table 글자 크기 조정
//
// 원본위치: [remote-theme]/_sass/minimal-mistakes/_tables.scss
//
table {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-5;            // default $type-size-6
  border-collapse: collapse;
  overflow-x: auto;

  & + table {
    margin-top: 1em;
  }
}


.page__hero--overlay {
  margin-bottom: 0;

  a{
    color: #ff9900;
  }
  
  .wrapper{
    @include breakpoint($large) {
      max-width: $medium;
    }

    @include breakpoint($x-large) {
      max-width: $medium-wide;
    }

    @include breakpoint($xx-large) {
      max-width: $large;
    }
    
    @include breakpoint($xxx-large) {
      max-width: $xx-large;
    }
  }
    
}


