---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic");

div.highlighter-rouge,
figure.highlight {
  border-radius: 5px;
  box-shadow: $md-codebox-shadow;
}

#site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-div-chan {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.toggle-btn-chan {
  background-color: #252525;
  border: 0px solid #252525;
  border-radius: 10px;
  color: #ddd;
}
.toggle-btn-chan:hover {
  color: #f90;
}
.toggle-btn-chan p {
  transition: none;
  margin: 0;
}
.toggle-btn-chan.close p {
  opacity: 0;
}
.toggle-btn-chan:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #fbfcfc;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
  z-index: 0;
}

.toggle-btn-chan.close:before {
  opacity: 0.9;
}
.navicon2.hidden {
  opacity: 0;
}
.navicon2 {
  opacity: 1;
  position: absolute;
  display: block;
  background-color: #252525;
  border: 0px solid #252525;
  border-radius: 10px;
  color: #ddd;
}
.navicon2:hover {
  color: #f90;
}
.visible-links-chan {
  opacity: 1;
  position: absolute;
  top: 100%;
  right: 0px;
  width: 150px;
  padding: 5px;
  border: 1px solid #f2f3f3;
  border-radius: 4px;
  background: #fbfcfc;
  box-shadow: $toggle-box-shodow;
  z-index: 1;
}

.visible-links-chan.hidden {
  opacity: 0;
}

.visible-links-chan:before {
  content: "";
  position: absolute;
  top: -11px;
  right: 10px;
  width: 0;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: #f2f3f3 transparent;
  display: block;
  z-index: 0;
}
.visible-links-chan:after {
  content: "";
  position: absolute;
  top: -10px;
  right: 10px;
  width: 0;
  border-style: solid;
  border-width: 0 10px 20px;
  border-color: #fbfcfc transparent;
  display: block;
  z-index: 1;
}

.masthead__menu .visible-links-chan {
  padding: 5px;
  margin-top: 10px;
}

.masthead__menu-item-chan {
  list-style-type: none;
  white-space: nowrap;
  display: block;
  border-bottom: 1px solid #f2f3f3;
}

.masthead__menu-item-chan:last-child {
  border-bottom: none;
}

.masthead__menu-item-chan a {
  margin: 0;
  padding: 10px 20px;
  font-size: 1em;
}

.btn--inverse {
  display: none;
}

.verychild {
  color: #252525;

  transition: all 0s ease-in-out;
  font-size: 0.5em;
  font-weight: lighter;
}

.nav__sub-title_home {
  display: block;
  margin: 0.5rem 0;
  padding: 0.25rem 0;
  font-family: $sans-serif-narrow;
  font-size: $type-size-4;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid $border-color;
  text-shadow: 1px 1px 1px rgba(#000, 0.1);
}

.child {
  border-bottom: 1px solid #f2f3f3;
  padding-bottom: 10px;
  font-weight: 500;
}

.nav__listhome.home a {
  transition: all 0s ease-in-out;
}
.nav__listhome.home a span {
  transition: all 0s ease-in-out;
}

.nav__listhome {
  margin-bottom: 1.5em;

  input[type="checkbox"],
  label {
    display: none;
  }

  @include breakpoint(max-width $large - 1px) {
    label {
      position: relative;
      display: inline-block;
      padding: 0.5em 2.5em 0.5em 1em;
      color: $gray;
      font-size: $type-size-6;
      font-weight: bold;
      border: 1px solid $light-gray;
      border-radius: $border-radius;
      z-index: 20;
      -webkit-transition: 0.2s ease-out;
      transition: 0.2s ease-out;
      cursor: pointer;

      &:before,
      &:after {
        content: "";
        position: absolute;
        right: 1em;
        top: 1.25em;
        width: 0.75em;
        height: 0.125em;
        line-height: 1;
        background-color: $gray;
        -webkit-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
      }

      &:after {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
      }

      &:hover {
        color: #fff;
        border-color: $gray;
        background-color: mix(white, #000, 20%);

        &:before,
        &:after {
          background-color: #fff;
        }
      }
    }

    /* selected*/
    input:checked + label {
      color: white;
      background-color: mix(white, #000, 20%);

      &:before,
      &:after {
        background-color: #fff;
      }
    }

    /* on hover show expand*/
    label:hover:after {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    input:checked + label:hover:after {
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0);
    }

    ul {
      margin-bottom: 1em;
    }

    a {
      display: block;
      padding: 0.25em 0;

      @include breakpoint($large) {
        padding-top: 0.125em;
        padding-bottom: 0.125em;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.nav__listhome .nav__items {
  margin: 0;
  font-size: 1.25rem;

  a {
    color: inherit;
  }
  a:hover {
    color: #f90;
  }
  .active {
    margin-left: -0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-weight: bold;
  }
}
.page__content li.child {
  font-size: $type-size-6;
  font-weight: lighter;
}

.page__content .nav__sub-title_home {
  font-size: $type-size-5;
}

.page__content .nav__listhome {
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 15px 30px;
}

#page-title {
  padding-bottom: 10px;
  margin: 20px 0;
  border-bottom: 5px solid $border-color;
}
